<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430965875310-a9s3c7o73pjfu1bpvpqo5621i187issg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430965875310-a9s3c7o73pjfu1bpvpqo5621i187issg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>430965875310-4d05jbcg989k0nv6mst65n50psp0r30s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDghbfP3YUd57xNXg8--EqMhlenkj-S_1g</string>
	<key>GCM_SENDER_ID</key>
	<string>430965875310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpaper</string>
	<key>PROJECT_ID</key>
	<string>walldeco-c1d3e</string>
	<key>STORAGE_BUCKET</key>
	<string>walldeco-c1d3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430965875310:ios:32070ba74a9409c2367c7f</string>
</dict>
</plist>